<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback_servlet</servlet-name>
        <servlet-class>feedback_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout_servlet</servlet-name>
        <servlet-class>logout_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout_servlet1</servlet-name>
        <servlet-class>logout_servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback_servlet1</servlet-name>
        <servlet-class>feedback_servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Newfeedbacjservlet</servlet-name>
        <servlet-class>Newfeedbacjservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback_new</servlet-name>
        <servlet-class>feedback_new</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehicle_details</servlet-name>
        <servlet-class>vehicle_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback_new1</servlet-name>
        <servlet-class>feedback_new1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback_new2</servlet-name>
        <servlet-class>feedback_new2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback_new_check</servlet-name>
        <servlet-class>feedback_new_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate_cookie_check</servlet-name>
        <servlet-class>validate_cookie_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehicle_lost</servlet-name>
        <servlet-class>vehicle_lost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehicle_lost_servlet</servlet-name>
        <servlet-class>vehicle_lost_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>other_servlet</servlet-name>
        <servlet-class>other_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaint_details</servlet-name>
        <servlet-class>complaint_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>other_details</servlet-name>
        <servlet-class>other_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehicle_lost_details</servlet-name>
        <servlet-class>vehicle_lost_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>license_renew_servlet</servlet-name>
        <servlet-class>license_renew_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fine_entry</servlet-name>
        <servlet-class>fine_entry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehicle_details_alone</servlet-name>
        <servlet-class>vehicle_details_alone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>public_fine_pay</servlet-name>
        <servlet-class>public_fine_pay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fine_pay_servlet</servlet-name>
        <servlet-class>fine_pay_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fine_pay_servlet2</servlet-name>
        <servlet-class>fine_pay_servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback_view_servlets</servlet-name>
        <servlet-class>feedback_view_servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fine_details</servlet-name>
        <servlet-class>fine_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>license_details</servlet-name>
        <servlet-class>license_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_validate</servlet-name>
        <servlet-class>admin_validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issues_other_servlet</servlet-name>
        <servlet-class>issues_other_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet2</servlet-name>
        <servlet-class>NewServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback_servlet</servlet-name>
        <url-pattern>/feedback_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_servlet</servlet-name>
        <url-pattern>/logout_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_servlet1</servlet-name>
        <url-pattern>/logout_servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback_servlet1</servlet-name>
        <url-pattern>/feedback_servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Newfeedbacjservlet</servlet-name>
        <url-pattern>/Newfeedbacjservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback_new</servlet-name>
        <url-pattern>/feedback_new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehicle_details</servlet-name>
        <url-pattern>/vehicle_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback_new1</servlet-name>
        <url-pattern>/feedback_new1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback_new2</servlet-name>
        <url-pattern>/feedback_new2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback_new_check</servlet-name>
        <url-pattern>/feedback_new_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate_cookie_check</servlet-name>
        <url-pattern>/validate_cookie_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehicle_lost</servlet-name>
        <url-pattern>/vehicle_lost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehicle_lost_servlet</servlet-name>
        <url-pattern>/vehicle_lost_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>other_servlet</servlet-name>
        <url-pattern>/other_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaint_details</servlet-name>
        <url-pattern>/complaint_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>other_details</servlet-name>
        <url-pattern>/other_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehicle_lost_details</servlet-name>
        <url-pattern>/vehicle_lost_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>license_renew_servlet</servlet-name>
        <url-pattern>/license_renew_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fine_entry</servlet-name>
        <url-pattern>/fine_entry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehicle_details_alone</servlet-name>
        <url-pattern>/vehicle_details_alone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>public_fine_pay</servlet-name>
        <url-pattern>/public_fine_pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fine_pay_servlet</servlet-name>
        <url-pattern>/fine_pay_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fine_pay_servlet2</servlet-name>
        <url-pattern>/fine_pay_servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback_view_servlets</servlet-name>
        <url-pattern>/feedback_view_servlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fine_details</servlet-name>
        <url-pattern>/fine_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>license_details</servlet-name>
        <url-pattern>/license_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_validate</servlet-name>
        <url-pattern>/admin_validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issues_other_servlet</servlet-name>
        <url-pattern>/issues_other_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet2</servlet-name>
        <url-pattern>/NewServlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
